<?php

return [
    'los' => [
        'response_time' => [
            'header_name' => Los\ResponseTime\ResponseTime::HEADER_NAME,
        ],
    ],
    'dependencies' => [
        'factories' => [
            Los\ResponseTime\ResponseTime::class => Los\ResponseTime\ResponseTimeFactory::class,
        ],
    ],
];
